<div class="product-list">
    <h1>All product list</h1>
    <p class="toster-success">{{deleteMsg}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of productList">
                <td><img src="{{item.Image}}" alt=""></td>
                <td>{{item.Name}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.Color}}</td>
                <td>{{item.Category}}</td>
                <td>{{item.Description}}</td>
                <td>
                    <fa-icon (click)="deleteProduct(item.id)" [icon]="faTrash"></fa-icon>
                    <a class="pl-10" routerLink="/seller-product-update/{{item.id}}"><fa-icon  [icon]="faEdit"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
