<div class="checkout">
    <h1>Checkout</h1>
    <p class="toster-success">{{myOrderMsg}}</p>
    <div class="row">
        <div class="col-sm-7 shipping-address">
            <h3>Add shipping address</h3>
            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                <input class="form-input" type="text" name="email" ngModel #email="ngModel" placeholder="Enter Email" required email/>
                <p class="invalid-input" ><span *ngIf="email.invalid && email.touched">Enter vaild email</span></p>
                <input class="form-input" type="text" name="address" ngModel placeholder="Enter address">
                <input class="form-input" type="text" name="contact" ngModel placeholder="Enter contact details">
                <button class="form-button" [disabled]="orderData.invalid" >Place order</button>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount :{{TotalAmount}}</h3>
            <h4>Payment Method :Pay on Delivery</h4>
        </div>
    </div>
</div>
