	<ngb-carousel class="homeCarousel" *ngIf="displayProduct">
		<ng-template *ngFor="let item of displayProduct" ngbSlide>
			<div class="picsum-img-wrapper">
				<img routerLink="/details/{{item.id}}" class="slider-image" [src]="item.Image" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>{{item.Name}}</h3>
				<p>{{item.Description}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
	<div class="product-list-wrapper">
		<h1>Trendy Product</h1>
		<div class="row">
			<div class="col-sm-3" *ngFor="let items of TrendyProduct">
				<div class="product-item">
					<img [src]="items.Image" alt="">
					<div class="product-details">
						<h6 class="name-head">{{items.Name}}</h6>
						<div class="product-price">
							<h6>Price: {{items.Price}}</h6>
						</div>
						<div class="product-color">
							<h6>Color: {{items.Color}}</h6>
						</div>
					</div>
					<div class="product-footer">
						<a routerLink="/details/{{items.id}}">View Details</a>
						<a href="">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>